.navbar {
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    padding: 0 2vw;
}

.navbar-socials,
.navbar-links {
    display: flex;
    gap: 1.5vh;
    width: auto;
    height: auto;
    border-radius: 25px;
    background-color: var(--secondary);
}

.navbar-links {
    padding-left: 7.5vh;
    padding-right: 7.5vh;
    gap: 3vh;
}

.navbar-socials a,
.navbar-socials button {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.5vh;
    height: 7.5vh;
    border: none;
    cursor: pointer;
}

.navbar-socials a svg,
.navbar-socials button svg {
    width: 60%;
    height: 60%;
}

.navbar-links a {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 7.5vh;
    border: none;
    cursor: pointer;

    font-family: var(--body);
    font-size: 4vh;
    text-decoration: none;
    color: var(--white);
}

.hamburger {
    display: none !important;
    background: none;
    border: none;
    cursor: pointer;
}

.mobile-menu {
    display: none;
}

.navbar-links.desktop {
    display: flex;
    gap: 2rem;
}

@media screen and (max-width: 1024px) {
    .hamburger {
        display: block !important;
        margin-left: 1rem;
    }

    .navbar {
        background-color: var(--secondary);
    }

    .navbar-links,
    .navbar-socials {
        background-color: transparent;
    }

    .navbar-links.desktop {
        display: none;
    }

    .mobile-menu {
        position: fixed;
        top: 10vh;
        right: 0;
        height: 90vh;
        width: 80%;
        background: var(--secondary);
        border-top: 5px solid var(--white);
        display: flex;
        flex-direction: column;
        padding-top: 5rem;
        padding-left: 2rem;
        gap: 2rem;
        z-index: 1000;
    }

    .mobile-menu a {
        font-family: var(--body);
        font-size: 3rem;
        color: var(--white);
        text-decoration: none;
    }
}