.bottom-nav {
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15vh;
    background-color: var(--secondary);
}

.bottom-nav span {
    text-align: center;
    color: var(--white);
    font-family: var(--body);
}