.embla {
    max-width: 48rem;
    margin: auto;
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 100%;
}

.embla__viewport {
    margin-top: 5vh;
    height: 60vh;
    border-radius: 25px;
    border: solid 2vh var(--secondary);
    background-color: var(--secondary);
    overflow: hidden;
}

.embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);

}

.embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
}

.embla__slide__number {
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    border-radius: 1.8rem;
    color: var(--background);
    font-family: var(--heading);
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--slide-height);
    user-select: none;
}

.embla__controls {
    display: grid;
    justify-content: center;
    gap: 1.2rem;
    margin-top: 1.8rem;
}

.embla__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
}

.embla__button {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--background);
    color: var(--secondary);
    border: 0.5vh solid var(--secondary);
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    width: 7.2rem;
    height: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s;
}

.embla__button:hover {
    background-color: var(--secondary);
    color: var(--background);
    cursor: pointer;
}

.embla__button:disabled {
    color: var(--detail-high-contrast);
}

.embla__button__svg {
    width: 35%;
    height: 35%;
}