@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.inconsolata-normal {
    font-family: "Inconsolata", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* https: //www.realtimecolors.com/?colors=040316-ffe9d6-fbeb5b-eaa853-c89041&fonts=Ubuntu-Inconsolata */
:root {
    --text: #040316;
    --background: #FFE9D6;
    --primary: #FBEB5B;
    --secondary: #EAA853;
    --accent: #C89041;

    --white: #FFE9D6;
    --heading: "Ubuntu", sans-serif;
    --body: "Inconsolata", sans-serif;
}

:root[data-theme="dark"] {
    --text: #EAE9FC;
    --background: #291300;
    --primary: #A49404;
    --secondary: #AC6B15;
    --accent: #BE8637;
}

/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    background-color: var(--background);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
}

.header-one {
    color: var(--secondary);
    font-family: var(--heading);
    font-size: 10vh;
}

.header-two {
    color: var(--secondary);
    font-family: var(--body);
    font-size: 3.5vh;
}

@media screen and (max-width: 767px) {
    .header-one {
        font-size: 6vh;
    }

    .header-two {
        font-size: 2vh;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .header-one {
        font-size: 7.5vh;
    }

    .header-two {
        font-size: 2.5vh;
    }
}