.slide-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    perspective: 2000px;
}

.flip-card {
    width: 100%;
    height: 100%;
    position: relative;
}

.flip-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card.flipped .flip-inner {
    transform: rotateY(180deg);
}

.flip-front,
.flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

    background: var(--secondary);
    border-radius: 15px;
}

.flip-back {
    transform: rotateY(180deg);

    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--background);
    font-family: var(--heading);
}

.flip-front h2 {
    font-size: 5vh;
    text-align: center;
    color: var(--background);
    font-family: var(--heading);
}

.flip-front img {
    margin-top: 2.5vh;
    border-radius: 12.5px;
}

.slide-card-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-card-buttons>* {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 7.5vh;

    margin: 2.5vh 2.5vh 0;
    background-color: transparent;
    color: var(--background);
    border: 0.5vh solid var(--background);

    font-size: 4vh;
    font-family: var(--heading);
    text-decoration: none;
    transition: background-color 0.5s;
}

.slide-card-buttons>*:hover {
    background-color: var(--background);
    color: var(--secondary);
    cursor: pointer;
}

.flip-back>* {
    margin: 1vh 2.5vh 0;
}

.flip-back h2 {
    font-size: 5vh;
}

.flip-back button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 7.5vh;

    margin: 2.5vh 2.5vh 0;
    background-color: transparent;
    color: var(--background);
    border: 0.5vh solid var(--background);

    font-size: 4vh;
    font-family: var(--heading);
    text-decoration: none;
    transition: background-color 0.5s;
}

.flip-back button:hover {
    background-color: var(--background);
    color: var(--secondary);
    cursor: pointer;
}

.flip-back p {
    font-family: var(--body);
    font-size: 2vh;
    white-space: pre-line;
}

.frameworks-used {
    display: flex;
    flex-wrap: wrap;
    gap: 1vh 1vw;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 1vh;
}

.frameworks-used li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 4vh;

    margin: 0.5vh;
    padding: 1vh;
    background-color: transparent;
    color: var(--background);
    border: 0.5vh solid var(--background);

    font-size: 2vh;
    font-family: var(--heading);
    text-decoration: none;
    transition: background-color 0.5s;
}

.frameworks-used li:hover {
    background-color: var(--background);
    color: var(--secondary);
}

@media screen and (max-width: 767px) {}

@media screen and (min-width: 768px) and (max-width: 1024px) {}