.slide-wrapper {
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    position: relative;
    perspective: 2000px;
}

.flip-card {
    width: 100%;
    height: 100%;
    position: relative;
}

.flip-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card.flipped .flip-inner {
    transform: rotateY(180deg);
}

.flip-front,
.flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backface-visibility: hidden;

    background: var(--secondary);
    border-radius: 15px;
}

.flip-back {
    transform: rotateY(180deg);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--background);
    font-family: var(--heading);
}

.flip-front h2 {
    text-align: center;
    color: var(--background);
    font-family: var(--heading);
}

.flip-front img {
    margin-top: 2.5vh;
    border-radius: 12.5px;
}

.slide-card-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-card-buttons>* {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 7.5vh;

    margin: 2.5vh 2.5vh 0;
    background-color: transparent;
    color: var(--background);
    border: 0.5vh solid var(--background);

    font-size: 4vh;
    font-family: var(--heading);
    text-decoration: none;
    transition: background-color 0.5s;
}

.slide-card-buttons>*:hover {
    background-color: var(--background);
    color: var(--secondary);
    cursor: pointer;
}

.flip-back button {
    margin-top: 2rem;
    padding: 1rem 2rem;
    border: 3px solid var(--background);
    background: transparent;
    color: var(--background);
    font-size: 2.5vh;
    font-family: var(--heading);
    border-radius: 10px;
    cursor: pointer;
}

.flip-back button:hover {
    background: var(--background);
    color: var(--secondary);
}